.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
 
  .thumbnail-description {
    min-height: 40px;
  }
 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
 
  .thumbnail-description {
    min-height: 40px;
  }
 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
 
  .thumbnail-description {
    min-height: 40px;
  }
 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
 
  .thumbnail-description {
    min-height: 40px;
  }
 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
  #topform {
    margin-top:calc(81px) !important;
    padding-top:calc(5px + 0.1vh);
    max-width:90vw;
  }
  /* #video-stream {
    width:0.5vw !important;
    height:75% !important;
  } */
  #html {
    /* background:red; */
    min-height:100vh;
    overflow-y:hidden !important;
    background-image: url('pencilsbg.png');
  }
  .container {
    margin-top:0 !important;
    margin-bottom:0 !important;

  }
  video {
    margin-top:calc(-4vh - 20px);
  }
  @media only screen and (max-width: 600px) {
    video {
      margin-top:calc(-18vh - 20px);
    }
  }